server {
		listen 80;
		server_name ABCDEFG.lfdev.io;
		
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }

		location / {
				proxy_pass http://localhost:3000;
		}
    
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
server {
		listen 80;
		server_name ABCDEFG.doc.lfdev.io;
		
    root /var/build; # Path to your React build directory
    index index.html;
    
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }

    location / {
        try_files $uri /index.html;
    }
    
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
server {
		listen 80;
		server_name ABCDEFG.my.lfdev.io;
		
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }
		
		location / {
				proxy_pass http://localhost:3016;
		}
		
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
server {
		listen 80;
		server_name ABCDEFG.esign.lfdev.io;
		
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }
		
		location / {
				proxy_pass http://localhost:3003;
		}
    
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
server {
		listen 80;
		server_name ABCDEFG.redirect.lfdev.io;
		
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }
		
		location / {
				proxy_pass http://localhost:3005;
		}
		    
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
server {
		listen 80;
		server_name ABCDEFG.liberty.lfdev.io;
		
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }
		
		location / {
				proxy_pass http://localhost:3008;
		}
		    
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
server {
		listen 80;
		server_name ABCDEFG.api.lfdev.io;
		client_max_body_size 100M;
		
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }
		
		location / {
				proxy_pass http://localhost:8000;
		}
		    
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
server {
		listen 80;
		server_name ABCDEFG.cims.lfdev.io;
		
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }
		
		location / {
				proxy_pass http://localhost:3009;
		}
		    
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
server {
		listen 80;
		server_name ABCDEFG.chatgld.io;
		
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }
		
		location / {
				proxy_pass http://localhost:3010;
		}
		    
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
server {
		listen 80;
		server_name ABCDEFG.socket.lfdev.io;
		
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }
		
		location / {
				
				proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
				proxy_set_header Host $host;
				proxy_set_header X-Real-IP $remote_addr;
				proxy_set_header X-Forwarded-Proto $scheme;
				
				proxy_pass http://localhost:8500;
				
				# enable WebSockets
				proxy_http_version 1.1;
				proxy_set_header Upgrade $http_upgrade;
				proxy_set_header Connection "upgrade";
		}
		    
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
server {
		listen 80;
		server_name ABCDEFG.imshop.lfdev.io;
		
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }
		
		location / {
				proxy_pass http://localhost:3013;
		}
		    
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
server {
		listen 80;
		server_name ABCDEFG.app.lfdev.io;
		
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }
		
		location / {
				proxy_pass http://localhost:3014;
		}
		    
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
server {
		listen 80;
		server_name ABCDEFG.business.lfdev.io;
		
    # Block specific User-Agents
    if ($http_user_agent ~* (Googlebot|NaverBot|bingbot|AhrefsBot|SemrushBot|MJ12bot|DotBot|Baiduspider)) {
        return 403;
    }
		
		location / {
				proxy_pass http://localhost:3017;
		}
		
    location = /robots.txt {
        alias /var/www/robots.txt;  # Absolute path to the specific file
        access_log off;  # Optional: Disable logging for robots.txt requests
    }
}
